.card {
  // background: $card-black-background;
  background: #232e37;
  border: 0;
  position: relative;
  width: 100%;
  // margin-bottom: 10px;
  box-shadow: $box-shadow;


  .projectimg {
    position: absolute;
    width: 6.875rem;
    height: 6.875rem;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 1.25rem;
  }

  .projecttitle {
    position: absolute;
    width: 159px;
    height: 50px;
    left: 146px;
    top: 33px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: #FFFFFF;
  }

  .projectdate {
    position: absolute;
    width: 159px;
    height: 50px;
    left: 146px;
    top: 53px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: #FFFFFF;

  }

  .editicon {
    position: absolute;
    width: 26px;
    height: 17px;
    left: 150px;
    top: 99px;

    color: #90959A;
  }

  .edittitle {
    position: absolute;
    width: 26px;
    height: 17px;
    left: 170px;
    top: 99px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #90959A;
  }

  .deleteicon {
    position: absolute;
    width: 44px;
    height: 17px;
    left: 234px;
    top: 99px;

    color: #90959A;
  }

  .deletetitle {
    position: absolute;
    width: 44px;
    height: 17px;
    left: 254px;
    top: 99px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #90959A;
  }

  label {
    color: rgba($white, 0.6);
  }

  .card-title {
    margin-bottom: .75rem;
  }

  .card-body {
    padding: 15px;

    &.table-full-width {
      padding-left: 0;
      padding-right: 0;
    }

    .card-title {
      color: $white;
      text-transform: inherit;
      font-weight: $font-weight-light;
      margin-bottom: .75rem;
    }

    .card-description,
    .card-category {
      color: rgba($white, 0.6);
    }

  }

  .card-header {
    &:not([data-background-color]) {
      background-color: transparent;
    }

    padding: 15px 15px 0;
    border: 0;
    color: rgba($white, 0.8);

    .card-title {
      color: $white;
      font-weight: 100;
    }

    .card-category {
      color: $dark-gray;
      margin-bottom: 5px;
      font-weight: 300;
    }
  }

  .map {
    border-radius: $border-radius-sm;

    &.map-big {
      height: 420px;
    }
  }

  &.card-white {
    background: $white;

    .card-title {
      color: $black;
    }

    .card-category,
    .stats {
      color: $card-stats-gray;
    }

    //style for inputs

    @include form-control-placeholder(rgba($black, 0.4), 1);

    .has-danger {

      .form-control,
      .input-group-prepend .input-group-text {
        border-color: $danger-states;
      }
    }

    .input-group-prepend .input-group-text {
      border-color: rgba($black-states, 0.2);
      color: $black-states;
    }

    .form-control {
      color: $black;
      border-color: rgba($black-states, 0.2);

      &:focus {
        border-color: $primary;
      }
    }

    label:not(.btn) {
      color: $default;
    }

    .form-group.no-border,
    .input-group.no-border {

      .form-control,
      .form-control+.input-group-prepend .input-group-text,
      .form-control+.input-group-append .input-group-text,
      .input-group-prepend .input-group-text,
      .input-group-append .input-group-text {
        background-color: $opacity-gray-3;

        &:focus,
        &:active,
        &:active {
          background-color: $opacity-gray-5;
        }
      }

      .form-control {
        &:focus {

          &+.input-group-prepend .input-group-text,
          &+.input-group-append .input-group-text {
            background-color: $transparent-bg;
          }
        }
      }


    }

    .input-group[disabled] {

      .input-group-prepend .input-group-text,
      .input-group-append .input-group-text {
        background-color: $black;
      }
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
      background: $light-gray;
      border-color: rgba($black-states, 0.3);
    }

    .input-group-focus {

      .input-group-prepend .input-group-text,
      .input-group-append .input-group-text,
      .form-control {
        background-color: $white;
        border-color: $primary;
      }

      &.no-border {

        .input-group-prepend .input-group-text,
        .input-group-append .input-group-text {

          background-color: $opacity-gray-5;
        }
      }
    }

    .input-group-prepend .input-group-text {
      border-right: none;
    }

    .input-group-append .input-group-text {
      border-left: none;
    }

    .has-danger .form-control:focus,
    .has-success.input-group-focus .input-group-append .input-group-text,
    .has-success.input-group-focus .input-group-prepend .input-group-text {
      border-color: $danger-states;
    }

    .has-success .form-control:focus,
    .has-success.input-group-focus .input-group-append .input-group-text,
    .has-success.input-group-focus .input-group-prepend .input-group-text {
      border-color: darken($success, 10%);
    }
  }


  &.card-plain {
    background: transparent;
    box-shadow: none;
  }

  .image {
    overflow: hidden;
    height: 200px;
    position: relative;
  }

  .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  label {
    font-size: $font-size-sm;
    margin-bottom: 5px;

  }

  .card-footer {
    background-color: transparent;
    border: 0;
    padding: 15px;


    .stats {
      i {
        margin-right: 5px;
        position: relative;

      }
    }

    h6 {
      margin-bottom: 0;
      padding: 7px 0;
    }
  }
}

.card-body {
  padding: $card-spacer-y;
}

@include media-breakpoint-down(sm) {
  .card.card-chart .card-header {
    .btn-group-toggle .tim-icons {
      font-size: .875rem;
      top: -1px;
    }
  }
}

.projectcard {
  // background: $card-black-background;
  background: #232e37;
  border: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 370px;
  height: 150px;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}



.paymentcard {
  background: $card-black-background;
  width: 280px;
  height: 100%;
  left: 24px;


}



.paymenttitle {

  // position: absolute;
  width: 167px;
  height: 24px;
  left: 22px;
  top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.paycard {
  height: 90vh;
}

.cardback {
  // position: absolute;
  width: 350px;
  height: 200px;
  left: 0;
  top: 0;

  background: #354451;
  opacity: 0.5;
  border-radius: 15px;
}

.addbutton {

  display: flex;
  align-content: space-between;
  justify-content: space-evenly;

}

.Projectdes {
  box-sizing: border-box;

  // position: absolute;
  width: 100%;
  height: 30vh;


  /* BG 2 (100% - Color Dodge) */

  background: #232e37;
  background-blend-mode: color-dodge;
  /* Border line (4%) */

  border: 0.75px solid #ffffff0a;
  border-radius: 10px;
}

.Videocard {
  box-sizing: border-box;

  // position: absolute;
  width: 100%;
  height: 552px;


  /* BG 2 (100% - Color Dodge) */

  background: #232e37;
  background-blend-mode: color-dodge;
  /* Border line (4%) */

  border: 0.75px solid #ffffff0a;
  border-radius: 10px;
}

.dbscroll {
  box-sizing: border-box;

  // position: absolute;
  width: 100%;
  // left: calc(50% - 683px/2 - 464.5px);
  // top: 438px;

  height: 100px;
  /* BG 2 (100% - Color Dodge) */

  background: #232e37;
  background-blend-mode: color-dodge;
  /* Border line (4%) */

  border: 0.75px solid #ffffff0a;
  border-radius: 10px;
}

.dbtext {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.speedSc {
  box-sizing: border-box;

  // position: absolute;
  width: 100%;
  // left: calc(50% - 683px/2 - 464.5px);
  height: 100px;


  /* BG 2 (100% - Color Dodge) */

  background: #232e37;
  background-blend-mode: color-dodge;
  /* Border line (4%) */

  border: 0.75px solid #ffffff0a;
  border-radius: 10px;
}

.pitch {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  height: 218px;

  background: #232e37;
  background-blend-mode: color-dodge;

  border: 0.75px solid #ffffff0a;
  border-radius: 10px;
}

.workcd {
  box-sizing: border-box;
  background: #232e37;
  background-blend-mode: color-dodge;
  /* Border line (4%) */
  border: 0.75px solid #ffffff0a;
  border-radius: 10px;
}

.navclass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconcolor {
  color: #FFFFFF;
}

.cardheader {
  display: flex;
  justify-content: space-evenly;
}

.verticalRange {
  -webkit-appearance: none;
  height: 200px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
}

.navborder {
  border-right: 2px solid #354451;
  padding-right: 30px;
}

.RachelCard {
  border: 2px solid #90959A;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  border: 1px solid #415362;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


// .scrollbar {
//     height: 300px;
//     width: 50%;
//     overflow: auto;
//     padding: 0 10px;
// }
// /*       ScrollBar 1        */

// #scrollbar1::-webkit-scrollbar {
//     width: 10px;
// }

// #scrollbar1::-webkit-scrollbar-track {
//     border-radius: 8px;
//     background-color: #e7e7e7;
//     border: 1px solid #cacaca;
// }

// #scrollbar1::-webkit-scrollbar-thumb {
//     border-radius: 8px;
//     background-color: #415362
// }

.joyfulcard {
  // border: 2px solid #90959A;
  background-color: transparent;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #415362;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.activebuttonclick {
  background-color: #eb3853;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #415362;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.screenimage {
  // position: absolute;
  // width: 43%;
  // height: 50vh;
  // left: 55.5%;
  // top: 104px;
  border-radius: 16px;

}

.screenicon {
  // position: absolute;
  width: 42%;
  height: 28.41px;
  left: 52%;
  top: 622px;
  display: flex;
  color: white;
  justify-content: space-between;
}

.Workplaceheadbar {
  display: flex;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #FF554A;
}

input:focus+.slider {
  box-shadow: 0 0 1px red;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.scrollbar {
  float: left;
  overflow-y: scroll;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #FF554A;
}

input[type="range"]::-moz-range-thumb {
  background-color: #FF554A;
}


.carouselbutton {
  // border: 2px solid #90959A;
  background-color: transparent;
  height: 40px;
  border: 1px solid #415362;
  border-radius: 4px;
  width: 20px;
}

.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background: #4B4D50;
  border-radius: 4px;
}

.range-slider[data-vertical] {
  height: 100%;
  width: 8px;
}

.range-slider[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.range-slider__thumb:nth-of-type(1) {
  width: 2px !important;
}

.range-slider[data-vertical] .range-slider__thumb:nth-of-type(1) {
  width: 12px !important;
  height: 2px !important;
}

.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ddd;
}


.range-slider .range-slider__thumb:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.5);
}

.range-slider[data-vertical] .range-slider__thumb {
  left: 50%;
}

.range-slider .range-slider__thumb[data-disabled] {
  z-index: 2;
}

.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: #FF554A;
}

.range-slider[data-vertical] .range-slider__range {
  left: 50%;
  transform: translate(-50%, 0);
}

.range-slider input[type="range"] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}

.range-slider input[type="range"]:focus {
  outline: 0;
}

.newvertical {
  width: 4px !important;
  margin-bottom: 10px;
}


/* Styles for wrapping the search box */

.mainsearch {
  width: 100%;
  // margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.mainworkplace {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.workarray {
  display: flex;
  font-size: 20px;
  align-items: center;
  color: white;
}

.bac {
  background-color: #324250;
  border-radius: 4px;
  padding: 10px;
}

.soundbar {
  background-color: #324250;
  // top : 20%;
}

// .videobar{
//   background-color: #324250;
//   top : 20%;
// }
// .voicebar{
//   background-color: #324250;
//   top : 20%;
// }


.waveform {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: transparent;
}

#waveform {
  width: 100%;
  height: 90px;
}

.playbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #EFEFEF;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;

  &:hover {
    background: #DDD;
  }
}

.background {
  background-image: url("../../../image/loginback.png");
  // background:#192026;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

 }

.logincard {
  width: 30%;
}

.loginimg{
  margin-left: 50% !important;
}

.modalback {
  background-color: #232e37;
  color:white
}